{% extends 'MainHeader.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<style>
    body {
        background-image: url(https://c4.wallpaperflare.com/wallpaper/506/330/555/turks-and-caicos-islands-4k-mac-background-wallpaper-preview.jpg);
        background-size: cover;
    }
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Climate</title>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <div class="container mt-5 float-center" style="padding-left: 25%; padding-top: 5%;">
        <div class="card mt-2 col-md-6 bg-transparent">
            <article class="card-body">



                <form method="post" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <label for="City">Search for City:</label>
                    <input type="text" name="City" placeholder="Enter City Name" required style="background-color: transparent;">
                    <input class="btn btn-success" type="submit" value="Search" >
                </form>
            </article>
            <article class="media">
                <div class="media-left">
                    <figure class="image is-50x50">
                        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <span class="title">{{ weather.city }}</span>
                            <br>
                            <span class="subtitle">{{ weather.temperature }}° C</span>
                            <br> {{ weather.description }}
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>


</body>

</html>
{% endblock %}